/* Reset some default browser styles */
body, input, button textarea{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Set the background color and align content to center */
body {
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style the form container */
.form {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 16px; /* Add margin to the form container */
}

/* Add some spacing between form elements */
.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: -webkit-fill-available;
    margin-bottom: 16px;
}

.form textarea{
    height: 150px;
}

/* Style the input fields */
.form input,
.form textarea {
    padding: 10px 12px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

/* Change the border color when an input field is focused */
.form input:focus {
    border-color: #007aff;
}

/* Style the submit button */
.form button {
    background-color: #007aff;
    color: #ffffff;
    padding: 10px 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

/* Change the background color when the button is hovered */
.form button:hover {
    background-color: #0061d6;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
